<% content_for :title, 'Determining Browsers HTML5 (and CSS3) Capabilities' %>
<article id="capabilities">
  <p>
    There is an excellent script that will let you programmatically determine the current browsers capabilities with 
    HTML5 and CSS3.  The script is <a href="http://www.modernizr.com/" target="_blank">Modernizer</a>.  It will detect 
    capabilities for:
  </p>
  <ul>
    <li>@font-face            </li>
    <li>Canvas                </li>
    <li>Canvas Text           </li>
    <li>HTML5 Audio           </li>
    <li>HTML5 Video           </li>
    <li>rgba()                </li>
    <li>hsla()                </li>
    <li>border-image:         </li>
    <li>border-radius:        </li>
    <li>box-shadow:           </li>
    <li>Multiple backgrounds  </li>
    <li>opacity:              </li>
    <li>CSS Animations        </li>
    <li>CSS Columns           </li>
    <li>CSS Gradients         </li>
    <li>CSS Reflections       </li>
    <li>CSS 2D Transforms     </li>
    <li>CSS 3D Transforms     </li>
    <li>CSS Transitions       </li>
    <li>Geolocation API       </li>
    <li>Input Types (some)    </li>
  </ul>
  <p>
    The website <a href="http://www.findmebyip.com/" target="_blank">Find Me By IP</a> has a great implementation of the script.
  </p>
</article>