<% content_for :title, 'Contenteditable' -%>
<article id="contenteditable" contenteditable="true">
  <p contenteditable="true">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p contenteditable="true">
    All you have to do is add the attribute <code>contenteditable="true"</code> on the element that should be editable.
  </p>
  <p>See: <a href="http://dev.w3.org/html5/spec/Overview.html#contenteditable">
    http://dev.w3.org/html5/spec/Overview.html#contenteditable</a></p>
</article>
<% content_for :notes do -%>
<p contenteditable="true">
  This demo is based of the demo at <a href="http://html5demos.com/contenteditable">http://html5demos.com/contenteditable</a>.
</p>
<% end -%>