<% content_for :title, 'Drag and Drop' -%>
<article id="drag-and-drop">
  <h3>Rick Roll'd!</h3>
  <video src="/media/rick.mp4" autoplay="autoplay" autobuffer="autobuffer" controls="controls"></video>
  <hr/>
  <p>
    Actually the Drag and Drop API is really nifty, but its <time datetime="2009-10-17 02:09">2:09 AM</time> (thats a <code>time</code> element) so I have to get some sleep now :D
  </p>
  <p>Check out HTML5Demo's Drag and drop examples here: <a href="http://html5demos.com/drag">drag and drop</a> and 
    <a href="http://html5demos.com/drag-anything">drag anything</a></p>
</article>