<% content_for :title, 'HTML 5 Now!' -%>
<article id="html5-now">
  <h3>Seriously, HTML5 Now!</h3>
  <p>The HTML 5 Now javascript library is designed to implement the HTML5 spec cross browser, now!  Its being written by
    Dean Edwards.  The library is currently in an alpha state.</p>
  <p>You can checkout the project home page at <a href="http://code.google.com/p/html5-now/" target="_blank">HTML5 Now Google Code</a>
    or you can go straight to the <a href="http://html5-now.appspot.com/" target="_blank">examples page</a>.</p>
</article>