<article id="home">
  <h2>What is html?</h2>
  <p>
    <em>Wikipedia Says:</em>
  </p>
  <p>
    <strong>HTML</strong>, which stands for <strong>Hyper Text Markup Language</strong>, is the predominant markup language for web pages. It provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists etc as well as for links, quotes, and other items. It allows images and objects to be embedded and can be used to create interactive forms. It is written in the form of HTML elements consisting of "tags" surrounded by angle brackets within the web page content. It can include or can load scripts in languages such as JavaScript which affect the behavior of HTML processors like Web browsers; and Cascading Style Sheets (CSS) to define the appearance and layout of text and other material. The W3C, maintainer of both HTML and CSS standards, encourages the use of CSS over explicit presentational markup.
  </p>
  <p>
    Hyper Text Markup Language (HTML) is the encoding scheme used to create and format a web document. A user need not be an expert programmer to make use of HTML for creating hypertext documents that can be put on the internet.
  </p>
  <p>
    Source: <a href="http://en.wikipedia.org/wiki/HTML">http://en.wikipedia.org/wiki/HTML</a>
  </p>
</article>
<% content_for :notes do -%>
  See the page source for an example.
<% end -%>