<% content_for :title, 'Resources' %>
<article id="resouces">
  <h3>I will complete this tomorrow</h3>
  <p>Here are some great resources for HTML5.  I will make sure all the links I mention throughout are here too.</p>
  <ul>
    <li>http://dev.w3.org/html5/spec/Overview.html                                                            </li>
    <li>http://dev.w3.org/html5/html4-differences/                                                            </li>
    <li>http://carsonified.com/blog/dev/html-5-dev/23-essential-html-5-resources/                             </li>
    <li>http://www.smashingmagazine.com/2009/07/29/misunderstanding-markup-xhtml-2-comic-strip/               </li>
    <li>http://carsonified.com/blog/web-apps/the-future-of-html-5/                                            </li>
    <li>http://www.modernizr.com/                                                                             </li>
    <li>http://www.findmebyip.com/                                                                            </li>
    <li>http://code.google.com/p/html5-now/                                                                   </li>
    <li>http://dev.opera.com/articles/view/html-5-canvas-the-basics/                                          </li>
    <li>http://www.deepbluesky.com/blog/-/browser-support-for-css3-and-html5_72/                              </li>
    <li>http://www.smashingmagazine.com/2009/07/06/html-5-cheat-sheet-pdf/                                    </li>
    <li>http://media1.smashingmagazine.com/wp-content/uploads/images/html5-cheat-sheet/html5-cheat-sheet.pdf  </li>
    <li>http://en.wikipedia.org/wiki/HTML_5                                                                   </li>
    <li>http://code.google.com/p/explorercanvas/                                                              </li>
    <li>http://html5doctor.com/html-5-reset-stylesheet/                                                       </li>
  </ul>
  <p>This site was built in rails using just actionpack and activesupport.  You can download it from github
    at <a href="http://github.com/adamhunter/html5/">http://github.com/adamhunter/html5/</a></p>
</article>